<footer>
    <div class="footer-container">
        <div>
            <button class="btn"> <img class="icons" src="/assets/icons/phone-call.png" alt="">
                <a class="iconText" href="tel+0000000000">070-365 543 34</a></button>
        </div>
        <div>
            <button class="btn"><img class="icons" src="/assets/icons/envelope.png" alt=""><a class="iconText"
                    href="mailto:mebu2300@student.miun.se">E-mail</a></button>
        </div>
    </div>
    <p>MB Universitetet</p>
</footer>
