// Footer
footer {
    margin: 0%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 2em;
}

footer p {
    width: fit-content;
    margin-left: 2em;
    font-weight: 600;
    margin-top: 1em;
}