// Footer
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-weight: 600;
    margin-top: 10px; /* justera avståndet mellan fotertext och sidofoten */
}