<div>
    <h2>Kurser</h2>
    <form>
        <label for="search">Sök:</label>
        <input type="text" name="search" id="search">
    </form>

    <table>
        <thead>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td > </td>
                <td ></td>
                <td ></td>
            </tr>
        </tbody> 
        
        <!-- @if (filteredCourses.length === 0) {
            <span>Inga kurser hittades...</span>
        } -->
    </table>
</div>