<main>
    <div id="headerText">
        <h1>Är du sugen på att plugga?</h1>

    </div>

    <div class="container">
        <div class="imageContainer left">
            <a routerLink="/courses" href="/courses"><img src="/assets/pictures/CF017226.IIQ.p.jpg" alt="två studenter"></a>
            <a id="pageLink" routerLink="/courses" href="/courses"><h2>Se vårat kursutbud</h2></a>
            <p>Välj bland tusentals kurser för att hitta just de som passar dig.</p>
        </div>
    
        <div class="imageContainer right">
            <a  href="/ramschema"><img src="/assets/pictures/dom-fou-YRMWVcdyhmI-unsplash.jpg" alt="universitetssal"></a>
            <a id="pageLink"  href="/ramschema"><h2>Skapa ditt eget ramschema</h2></a>
            <p>Skapa ditt egna ramschema med dina egna kurser.</p>
        </div>
    </div>

    
</main>