<div id="mainContainer">
    <table>
        <thead>
            <tr>
                <td id="coursecodeTd">Kurskod</td>
                <td id="coursenameTd">Kursnamn</td>
                <td id="pointsTd">Poäng</td>
                <td id="subjectTd">Ämne</td>
                <td id="syllabusTd">Kursplan</td>
            </tr>
        </thead>
        <tbody id="kurs-list" *ngFor="let course of selectedCourses">
            <tr>
                <td id="coursecodeTd">
                    {{ course.courseCode }}
                </td>
                <td id="coursenameTd">
                    {{ course.courseName }}
                </td>
                <td id="pointsTd">
                    {{ course.points }}
                </td>
                <td id="subjectTd">
                    {{ course.subject }}
                </td>
                <td id="syllabusTd"><a id="syllabusLink" [href]="course.syllabus" target="_blank">Kursplan</a></td>
                <td id="deleteTd"><button (click)="removeCourse(course)">Ta bort</button></td>
            </tr>
        </tbody>

        @if (selectedCourses.length === 0) {
        <span colspan="6">Inga kurser hittades...</span>
        }
    </table>

    <div id="ramInfo">
        <p>Antal kurser: {{ selectedCourses.length }}</p>
        <p>Totalt antal poäng: {{ totalPoints  }}</p>
        <button id="clearBtn" (click)="clearLocalStorage()">Rensa local storage</button>
    </div> 
</div>